useDynLib(qGaussian, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(cqgauss)
export(dqgauss)
export(pqgauss)
export(qbymc)
export(rqgauss)
import(robustbase)
import(zipfR)
import(stats)