useDynLib(qGaussian, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(cqgauss)
export(dqgauss)
export(pqgauss)
export(qbymc)
export(rqgauss)
export(Chaotic)
importFrom(stats, runif, median)
importFrom(robustbase , mc)
importFrom(zipfR, Rbeta, Rbeta.inv)